<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        {% block profile_content_nav %}{% endblock %}
    </ul>
    <div class="tab-content">
        {% block profile_content_tab %}{% endblock %}
    </div>
</div>