<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('vue') }}
    {% endblock %}
</head>
<body>
<div id="app"></div>
{% block javascripts %}
    {{ encore_entry_script_tags('vue') }}
{% endblock %}
</body>
</html>