{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block logo_large %} <!-- DiveClub --> {% endblock %}
{% block page_title %} {% endblock %}
{% block page_subtitle %} {% endblock %}

{% block footer %}
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Software 0.0.0
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017-2019 <a href="#">C</a>.</strong> All rights reserved.
    </footer>
{% endblock %}
